   {% load static %}
   <!-- Footer Starts Here -->
    <div style="background: #800080" class="footer">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
            </div>
            <div class="col-md-12">
              <div class="copyright-text">
                <p style="color: #fff">Copyright &copy; 2019 Company Name 
                  
                  - Design: <a rel="nofollow" href="https://www.facebook.com/tooplate">Tooplate</a></p>
              </div>
            </div>
            <div class="col-md-12">
            </div>
          </div>
        </div>
      </div>
      <!-- Footer Ends Here -->